* {
    margin: 0;
    padding: 0;
}

.color-red {
    color: red;
}

body div.main-content h2.heading {
    font-style: italic;
    color: red;
}


div {
    color: initial;
    margin-left: 20px;
}

.pai > .filha > .filha {
    color: red;
}

.pai > .filha > span > .filha {
    color: green;
}

/* Seleciona quem tiver a classe filha e for filha de quem tiver a classe pai 
.pai .filha{
    
}*/